$accent-color: #c4dce6;
$accent-color-hover: #86c5e0;
$input-focus-color: #86c5e0;
$input-focus-box-shadow: rgba(134, 197, 224, 0.2);
$text-color-non-accent: #acacac;
$text-color: #333;
$background-color: #f4f8f9;
$main-color: #e5e7ff;
$main-color-hover: #cbcfff;
$border-color-input: #9c9c9c;
